body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.calculator {
    width: 320px;
    background-color: #333;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 32px;
    text-align: right;
    border: none;
    background-color: #222;
    color: #fff;
    border-radius: 6px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #888;
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.operator:hover {
    background-color: #e67e22;
}
